body {
  text-align: center;
  baground: linear-gradient(#1f1c1c, #0d0c0c);
  width: 250px;
}

button{
  width: 100%;
  baground: linear-gradient(#301873, #14b89a);
  color: #f5bc00;
  margin: 10px;
  border-radius: 10px;
}
